<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>MTSH SOFTWARE &amp; CONSULTANCY PRIVATE LIMITED </title>
</head>
<body>

	<div style="width:100%;" align="center">

		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td align="center" valign="top" style="background-color:#53636e;" bgcolor="#53636e;">

					<br>
					<br>
					<table width="583" border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td align="left" valign="top" bgcolor="#FFFFFF" style="background-color:#FFFFFF;"><%= image_tag("https://docs.google.com/uc?id=1owwgsD62uFkrVM_sclEDKVWRFhHHUkEj",size: "583x118", :alt => "Header") %></td>
						</tr>
						<tr>
							<td align="left" valign="top" bgcolor="#FFFFFF" style="background-color:#FFFFFF;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tr>
									<td width="35" align="left" valign="top">&nbsp;</td>
									<td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<td align="center" valign="top">
												<div style="color:#245da5; font-family:Times New Roman, Times, serif; font-size:48px;"><a href="http://www.mtshsoftwareconsultancy.com/"><%= image_tag("https://docs.google.com/uc?id=1CR0DTJs1tImKMDzAd07Wp3LJw7iGp5x0",size: "300x50", :alt => "MTSH LOGO") %></a></div>
												<!--  <div style="font-family: Verdana, Geneva, sans-serif; color:#898989; font-size:12px;">Month Day, Year</div></td> -->
											</tr>
              <!-- <tr>
                <td align="left" valign="top"><%= image_tag("https://docs.google.com/uc?id=19BOPAvchnrUB74i86jklWGkM5RkQK4Op",size: "512x296", :alt => "Header") %></td>
            </tr> -->
            <tr>
            	<td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;"><br><br>

            		<div style="color:#3482ad; font-size:19px;">Dear <%= @quote.name %>,<br><br>
            			We have received your request successfully. Thank you for your interest in our company.Our technical team is reviewing your proposal. According to proposal we should have your estimation ready for you soon but in the meantime if you have any questions or require additional information please don't hesitate to contact us directly.<br><br>
            			Thanks,<br>
            			Support<br>
            			<span style="font-size:16px;">MTSH SOFTWARE &amp; CONSULTANCY PRIVATE LIMITED.</span></div><br><br>
            			<br>
            			<br>
            			<br>
            			<table width="100%" border="0" cellspacing="0" cellpadding="0">
            				<tr>
            					<td width="13%"><b>
                                <%= link_to image_tag("https://docs.google.com/uc?id=1hDQmDz5JjB1oGzzro3VxdVcsoTbOTPiF",size: "24x23", :alt => "Twitter"), "https://twitter.com/MtshSoftware", target: :_blank   %>
                                <%= link_to image_tag("https://docs.google.com/uc?id=1GNb07fNruoADN79t1SRB1b1ZNxPXzj6e",size: "24x23", :alt => "Facebook"), "https://www.facebook.com/mtshsoftware/", target: :_blank   %>
                                </b></td>
            					<td width="87%" style="font-size:11px; color:#525252; font-family:Arial, Helvetica, sans-serif;"><b>Hours: Mon-Fri 9:00-6:00, Sat. 9:00-1:00, Sun. Closed <br>
            						Customer Support: support@mtshsoftwareconsultancy.com<br>
            						Contact : +91 8748867709</b></td>
            					</tr>
            				</table></td>
            			</tr>
            			<tr>
            				<td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#525252;">&nbsp;</td>
            			</tr>
            		</table></td>
            		<td width="35" align="left" valign="top">&nbsp;</td>
            	</tr>
            </table></td>
        </tr>
        <tr>
        	<td align="left" valign="top" bgcolor="#3d90bd" style="background-color:#3d90bd;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
        		<tr>
        			<td width="35">&nbsp;</td>
        			<td height="50" valign="middle" style="color:#FFFFFF; font-size:11px; font-family:Arial, Helvetica, sans-serif;"><b>Company Address:</b><br>
        				SAHPUR GOPALPUR, MANOHARPUR, KACHUARA, KHEMNICHAK PATNA BIHAR 800016 INDIA </td>
        				<td width="35">&nbsp;</td>
        			</tr>
        		</table></td>
        	</tr>
        </table>
        <br>
        <br></td>
    </tr>
</table>

</div>

</body>
</html>
