<%= form_for @contact,  :url => (home_create_contact_path),:html => { :id =>'contact',:role=>'form',:class => 'center-block g-width-500--sm g-width-550--md'},:remote => true do |f| %>
    <div class="g-margin-b-30--xs">
        <%= f.text_field :name, class: 'form-control s-form-v3__input',placeholder: "* Name",required: true %>
    </div>
    <div class="row g-row-col-5 g-margin-b-50--xs">
        <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
            <%= f.email_field :email, class: 'form-control s-form-v3__input',placeholder: '* Email',required: true%>
        </div>
        <div class="col-sm-6">
            <%= f.text_field :phone, class: 'form-control s-form-v3__input',placeholder: "* Phone",required: true%>
        </div>
    </div>
    <div class="g-margin-b-80--xs">
        <%= f.text_area :message, class: 'form-control s-form-v3__input', :rows => 5,placeholder: '* Your message'%>
    </div>
    <%= f.hidden_field :from, :value => "contact"%>
    <div id="contact-message"></div>
    <div class="g-text-center--xs">
        <%= f.button(type: "submit", class: "text-uppercase s-btn s-btn--md s-btn--white-bg g-radius--50 g-padding-x-70--xs g-margin-b-20--xs") do %>
                Submit
        <% end %>
    </div>
<% end %>
