<!-- Contact -->
<div class="s-promo-block-v7 g-bg-position--center g-bg-color--dark-light" style="background: url(<%= asset_path '1920x1080/05.jpg' %>) no-repeat;">
    <div class="g-container--sm g-padding-y-80--xs g-padding-y-125--xsm">
        <div class="g-text-center--xs g-margin-b-60--xs">
            <h2 class="g-font-size-32--xs g-font-size-36--md g-color--white">GET IN TOUCH WITH US</h2>
            <p class="text-uppercase g-font-size-14--xs g-font-weight--700 g-color--white-opacity g-letter-spacing--2 g-margin-b-25--xs">Let’s build something great, together.</p>
        </div>
        <%= form_for @quote,  :url => (home_create_quote_path),:html => { :id =>'quote',:role=>'form',:class => 'center-block g-width-500--sm g-width-550--md'},:remote => true do |f| %>
            <div class="g-margin-b-30--xs">
                <%= f.text_field :name, class: 'form-control s-form-v3__input',placeholder: "* Name",required: true %>
            </div>
            <div class="row g-margin-b-50--xs">
                <div class="col-sm-6 g-margin-b-30--xs g-margin-b-0--md">
                    <%= f.email_field :email, class: 'form-control s-form-v3__input',placeholder: '* Email',required: true%>
                </div>
                <div class="col-sm-6">
                    <%= f.text_field :phone, class: 'form-control s-form-v3__input',placeholder: "* Phone",required: true%>
                </div>
            </div>
            <div class="g-margin-b-30--xs">
                <%= f.text_field :timing, class: 'form-control s-form-v3__input',placeholder: "* Best time to reach you (Ex Monday 11 AM EST)",required: true%>
            </div>
            <div class="g-margin-b-80--xs">
                <%= f.text_area :message, class: 'form-control s-form-v3__input', :rows => 6,placeholder: '* Your message',required: true %>
            </div>
            <div class="g-text-center--xs">
                <%= f.button(type: "submit", class: "text-uppercase s-btn s-btn--md s-btn--white-brd g-radius--50 g-padding-x-70--xs g-margin-b-20--xs") do %>
                Submit
                <% end %>
            </div>
        <% end %>
        <div id="quote-message"></div>
    </div>
</div>
<!-- End Contact -->