<!--========== PROMO BLOCK ==========-->
<section class="s-video-v2__bg" data-vidbg-bg="mp4: /discussing_features.mp4, webm: /discussing_features.webm, poster: /discussing_features.jpg" data-vidbg-options="loop: true, muted: true, overlay: false">
    <div class="container g-position--overlay g-text-center--xs">
        <div class="g-padding-y-50--xs g-margin-t-100--xs g-margin-b-100--xs g-margin-b-250--md">
            <h1 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">ABOUT US</h1>
            <!-- <h2 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">Design is Functional.</h2> -->
        </div>
    </div>
</section>
<!--========== END PROMO BLOCK ==========-->

<!--========== PAGE CONTENT ==========-->
<!-- Mockup -->
<div class="container g-margin-t-o-150--xs-mtsh">
    <div class="center-block s-mockup-v1-mtsh">
        <%= image_tag("desktop3.png", :alt => "Mtsh mockup",class: 'img-responsive') %>
    </div>
</div>
<!-- End Mockup -->
<!-- Speakers -->
<div class="container g-padding-y-80--xs g-padding-y-125--sm g-hor-divider__solid--sky-light">
    <div class="row g-overflow--hidden">
        <div class="col-xs-6 g-full-width--xs g-margin-b-30--xs g-margin-b-0--lg">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                <%= image_tag("Blank_men_placeholder.png", :alt => "Mtsh Portfolio Image",class: 'img-responsive g-width-100-percent--xs',:title => "Mitesh") %>
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Mitesh Kumar</h4>
                    </div>
                    <p class="g-font-weight--700">Founder</p>
                    <p>90% problem is being solved by doing it in proper way.5% will make there own way.Just need to take care of 5%.</p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
        <div class="col-xs-6 g-full-width--xs">
            <!-- Speaker -->
            <div class="center-block g-box-shadow__dark-lightest-v1 g-width-100-percent--xs g-width-400--lg">
                <%= image_tag("Blank_woman_placeholder.svg", :alt => "Mtsh Portfolio Image",class: 'img-responsive g-width-100-percent--xs',:title => "Nidhi") %>
                <div class="g-position--overlay g-padding-x-30--xs g-padding-y-30--xs g-margin-t-o-60--xs">
                    <div class="g-bg-color--primary g-padding-x-15--xs g-padding-y-10--xs g-margin-b-20--xs">
                        <h4 class="g-font-size-22--xs g-font-size-26--sm g-color--white g-margin-b-0--xs">Nidhi Ranjan</h4>
                    </div>
                    <p class="g-font-weight--700">CEO</p>
                    <p>Short way can loose perfectness. Long way will take time. Perfect way only the solution to keep things perfect.<p>
                </div>
            </div>
            <!-- End Speaker -->
        </div>
    </div>
</div>
<!-- End Speakers -->
<!-- Features -->
        <div class="g-hor-divider__solid--sky-light">
            <div class="container g-padding-y-80--xs g-padding-y-125--sm">
                <div class="row g-margin-b-60--xs g-margin-b-70--md">
                    <div class="col-sm-6 g-margin-b-60--xs g-margin-b-0--md">
                        <!-- Media -->
                        <div class="clearfix">
                            <div class="g-media g-width-60--xs">
                                <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
                                    <!-- SVG Icon -->
                                    <%= image_tag("flexible.svg", :alt => "Mtsh Flexible", width: '50') %>
                                    <!-- End SVG Icon -->
                                </div>
                            </div>
                            <div class="g-media__body g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-margin-b-10--xs">Flexible</h3>
                                <p class="g-margin-b-0--xs">We are focussing on agility and flexibility which makes our project successful.This is what our customer says after working with us.</p>
                            </div>
                        </div>
                        <!-- End Media -->
                    </div>
                    <div class="col-sm-6 g-margin-b-60--xs g-margin-b-0--md">
                        <!-- Media -->
                        <div class="clearfix">
                            <div class="g-media g-width-60--xs">
                                <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".2s">
                                    <!-- SVG Icon -->
                                    <%= image_tag("Responsible.svg", :alt => "Mtsh Portfolio Image", width: '50') %>
                                    <!-- End SVG Icon -->
                                </div>
                            </div>
                            <div class="g-media__body g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-margin-b-10--xs">Responsible</h3>
                                <p class="g-margin-b-0--xs">We put ourselves in your shoes to ensure YOU deliver the best experience to your customers.</p>
                            </div>
                        </div>
                        <!-- End Media -->
                    </div>
                </div>
                
                <div class="row g-margin-b-60--xs g-margin-b-70--md">
                    <div class="col-sm-6 g-margin-b-60--xs g-margin-b-0--md">
                        <!-- Media -->
                        <div class="clearfix">
                            <div class="g-media g-width-60--xs">
                                <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".4s">
                                    <!-- SVG Icon -->
                                    <%= image_tag("Collaborative.svg", :alt => "Mtsh Portfolio Image", width: '50') %>
                                    <!-- End SVG Icon -->
                                </div>
                            </div>
                            <div class="g-media__body g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-margin-b-10--xs">Collaborative</h3>
                                <p class="g-margin-b-0--xs">Key of success is team work.So for collaborate efficiently we works as a part of your team whether it is remotely or your location.</p>
                            </div>
                        </div>
                        <!-- End Media -->
                    </div>
                    <div class="col-sm-6 g-margin-b-60--xs g-margin-b-0--md">
                        <!-- Media -->
                        <div class="clearfix">
                            <div class="g-media g-width-60--xs">
                                <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".5s">
                                    <!-- SVG Icon -->
                                    <%= image_tag("Supportive.svg", :alt => "Mtsh Portfolio Image", width: '50') %>
                                    <!-- End SVG Icon -->
                                </div>
                            </div>
                            <div class="g-media__body g-padding-x-20--xs">
                                <h3 class="g-font-size-18--xs g-margin-b-10--xs">Supportive</h3>
                                <p class="g-margin-b-0--xs">We are not believing to walk off after project done.We are believing on long term relationship. So we are with you as long as you need.</p>
                            </div>
                        </div>
                        <!-- End Media -->
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End Features -->
<!-- Portfolio -->

<!-- End Portfolio -->




<!--========== END PAGE CONTENT ==========-->
