 <% content_for :js do %>
 <%= javascript_include_tag 'ror' %>
 <% end %>
 <!--========== PROMO BLOCK ==========-->
 <div class="s-promo-block-v1 g-bg-color--primary-to-blueviolet-ltr g-fullheight--md">
    <div class="container g-ver-center--md g-padding-y-100--xs">
        <div class="row g-hor-centered-row--md g-margin-t-30--xs g-margin-t-20--sm">
            <div class=" g-hor-centered-row__col g-text-center--xs g-text-left--md g-margin-b-60--xs g-margin-b-0--md">
                <div class="s-promo-block-v1__square-effect g-margin-b-60--xs">
                    <h1 class="g-font-size-32--xs g-font-size-45--sm g-font-size-50--lg g-color--white">Ruby On Rails Development</h1>
                    <p class="g-font-size-20--xs g-font-size-26--md g-color--white g-margin-b-0--xs">Our expert developers sucessfully exploit Ruby On Rails portability &amp; scalability features.Practicing with Agile Methodology has enable us to deliver complex solutions with specific business functions.</p>
                </div>
                <span class="g-display-block--xs g-display-inline-block--lg g-margin-b-10--xs g-margin-b-10--lg" onclick="scrollcontact(); return false">
                    <div  class="s-btn s-btn--xs s-btn--white-brd g-padding-x-30--xs g-radius--50">
                        <span class="s-btn__element--left">
                            <i class="g-font-size-32--xs ti-email"></i>
                        </span>
                        <span class="s-btn__element--right g-padding-x-10--xs">
                            <span class="g-font-size-16--xs">Email Us</span>
                        </span>
                    </div>
                </span>
                <span class="g-padding-x-0--xs g-padding-x-10--lg" onclick="scrollcontact(); return false">
                    <div href="https://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes" class="s-btn s-btn--xs s-btn--white-brd g-padding-x-30--xs g-radius--50">
                        <span class="s-btn__element--left">
                            <i class="g-font-size-32--xs ti-headphone-alt"></i>
                        </span>
                        <span class="s-btn__element--right g-padding-x-10--xs">
                            <span class="g-font-size-16--xs">Call Us</span>
                        </span>
                    </div>
                </span>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
    <a href="#js__scroll-to-section" class="s-scroll-to-section-v1--bc g-margin-b-15--xs">
        <span class="g-font-size-18--xs g-color--mtshblue ti-angle-double-down"></span>
        <p class="text-uppercase g-color--mtshblue g-letter-spacing--3 g-margin-b-0--xs g-fontsize--mtsh">Learn More</p>
    </a>
</div>
<!--========== END PROMO BLOCK ==========-->

<!--========== PAGE CONTENT ==========-->
<!-- Mockup -->
<div id="js__scroll-to-section" class="container g-padding-y-80--xs g-padding-y-125--xsm">
    <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-80--xs g-margin-b-100--md">
        <div >
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Tech Slack We Love</h2>
            <p class="g-font-size-18--sm">Delivering hogh-value and Compelling Business Applications. Our experts invest time to understand the requirements and come up with solution. We are selecting suitable technology stack.</p>
        </div>
    </div>
    <div class="row g-hor-centered-row--md g-row-col--5 g-margin-b-80--xs g-margin-b-100--md">
        <div >
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Open Technology Stack</h2>
            <p class="g-font-size-18--sm">With Ruby On Rails as a core technology for developing web products we use related latest and open technology stack.<br>Amazon, Bootstrap, Coffeescript, CSS3, Cucumber, Ember, Heroku, HTML5, Jquery, Javascript, MongoDB, Mysql, NewRalic, Nodejs, Pusher, Radis, Rspec, Sidekiq .. etc. </p>
        </div>
    </div>
    <div class="row g-hor-centered-row--md g-row-col--5 ">
        <div class="col-sm-5 g-hor-centered-row__col">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Web Application Development</h2>
            <p class="g-font-size-18--sm">The framework "Ruby On Rails" as toolset is our heart of development, enabling us to dfficiently build high-quality, robust, custom web application that scale.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 g-hor-centered-row__col fadeInRight wow" data-wow-duration=".5" data-wow-delay=".5s">
            <%= image_tag("web_development.png", :alt => "MTSH Mockup Image",class: 'img-responsive') %>
        </div>
    </div>
    <div class="row g-hor-centered-row--md g-row-col--5">
        <div class="col-sm-5 col-sm-push-7 g-hor-centered-row__col">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">API Development</h2>
            <p class="g-font-size-18--sm">Our developer are not strangers with web services &amp; developing APIs using REST or JSON. They can work closely with your technology team for developing API as per requirement.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md fadeInLeft wow" data-wow-duration=".5" data-wow-delay=".5s">
            <%= image_tag("mtsh-json.jpeg", :alt => "MTSH Mockup Image",class: 'img-responsive') %>
        </div>
    </div>
    <div class="row g-hor-centered-row--md g-row-col--5 ">
        <div class="col-sm-5 g-hor-centered-row__col">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Third Party API Integration</h2>
            <p class="g-font-size-18--sm">We have experience with third-party API integration - we've integrated many APIs like Google graph, Facebook, Twitter, Twilio, Leaflet, Paypal, Stripe and many more.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 g-hor-centered-row__col fadeInRight wow" data-wow-duration=".5" data-wow-delay=".5s" data-wow-duration=".5" data-wow-delay=".5s">
            <%= image_tag("api-mtsh.png", :alt => "MTSH Mockup Image",class: 'img-responsive') %>
        </div>
    </div>
    <div class="row g-hor-centered-row--md g-row-col--5">
        <div class="col-sm-5 col-sm-push-7 g-hor-centered-row__col">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Cloud Hosting &amp; Dev Opps</h2>
            <p class="g-font-size-18--sm">We have worked with to design cloud ready ROR apps which work on any cloud platform like AWS,Heroku etc - and deploy with Capistrano, Rubber etc.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md fadeInLeft wow" data-wow-duration=".5" data-wow-delay=".5s">
            <%= image_tag("mtsh-cloud.jpeg", :alt => "MTSH Mockup Image",class: 'img-responsive') %>
        </div>
    </div>
    <div class="row g-hor-centered-row--md g-row-col--5 ">
        <div class="col-sm-5 g-hor-centered-row__col">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">TDD/BDD Aproach</h2>
            <p class="g-font-size-18--sm">Our developer are comfortable to work with TDD (Test-Driven Development) and also with BDD (Behavior-Driven Development) using - rspec-rails, capybara, factory_girl_rails, spork, launchy,cucumber-rails, guard-cucumber, mocha etc…</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 g-hor-centered-row__col fadeInRight wow" data-wow-duration=".5" data-wow-delay=".5s">
            <%= image_tag("tdd-bdd-mtsh.png", :alt => "MTSH Mockup Image",class: 'img-responsive') %>
        </div>
    </div>
    <div class="row g-hor-centered-row--md g-row-col--5">
        <div class="col-sm-5 col-sm-push-7 g-hor-centered-row__col">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Agile Development Methodology</h2>
            <p class="g-font-size-18--sm">We are preparing a list of goals, roles, and features -> preparing a list of stories -> estimate the stories -> prioritize the stories -> test-drive the first story to completion -> accept the story -> repeat until done.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 col-sm-pull-7 g-hor-centered-row__col g-text-left--xs g-text-right--md fadeInLeft wow" data-wow-duration=".5" data-wow-delay=".5s">
            <%= image_tag("mtsh-agile.png", :alt => "MTSH Mockup Image",class: 'img-responsive') %>
        </div>
    </div>
    <div class="row g-hor-centered-row--md g-row-col--5 ">
        <div class="col-sm-5 g-hor-centered-row__col">
            <h2 class="g-font-size-32--xs g-font-size-36--sm g-margin-b-25--xs">Support &amp; Maintenance</h2>
            <p class="g-font-size-18--sm">We have extensive experience with appication upgrades, performance, bug monitoring &amp; resolutions security updates, patch releases, migrations, quick fixes &amp; backups.</p>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-5 g-hor-centered-row__col fadeInRight wow" data-wow-duration=".5" data-wow-delay=".5s">
            <%= image_tag("support.jpeg", :alt => "MTSH Mockup Image",class: 'img-responsive') %>
        </div>
    </div>
</div>
<!-- End Mockup -->

<!-- Video -->
<!-- <section class="s-video__bg" data-vidbg-bg="mp4: /mp4_video.mp4, webm: /webm_video.webm, poster: /fallback.jpg" data-vidbg-options="loop: true, muted: true, overlay: false">
    <div class="container g-position--overlay g-text-center--xs">
        <div class="g-padding-y-50--xs g-margin-t-50--xs g-margin-t-100--sm g-margin-b-100--xs g-margin-b-250--md">
            <h2 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">More Than a Look,</h2>
            <h2 class="g-font-size-36--xs g-font-size-50--sm g-font-size-60--md g-color--white">Design is Functional.</h2>
        </div>
    </div>
</section> -->
<!-- End Video -->

<!-- Mockup -->
<!-- <div class="container g-margin-t-o-100--xs g-margin-t-o-230--md">
    <div class="center-block s-mockup-v1">
        <div class="wow fadeInUp" data-wow-duration=".3" data-wow-delay=".1s">
            <%= image_tag("mockups/devices-01.png", :alt => "MTSH Mockup Image",class: 'img-responsive') %>
        </div>    
    </div>
</div> -->
<!-- End Mockup -->






<!-- Feedback Form -->
<div class="g-position--relative g-bg-color--mtshprimary" id="contact-div">
    <div class="g-container--md">
        <div class="row g-row-col--5 g-margin-b-10--xs g-margin-t-10--xs">
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-email"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Email</h4>
                    <p class="g-color--white-opacity"> support@mtshsoftwareconsultancy.com</p>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs g-margin-b-50--xs g-margin-b-0--sm">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-map-alt"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Address</h4>
                    <p class="g-color--white-opacity">SAHPUR GOPALPUR, MANOHARPUR, KACHUARA, KHEMNICHAK PATNA BIHAR 800016 INDIA</p>
                </div>
            </div>
            <div class="col-xs-4 g-full-width--xs">
                <div class="g-text-center--xs">
                    <i class="g-display-block--xs g-font-size-40--xs g-color--white-opacity g-margin-b-30--xs ti-headphone-alt"></i>
                    <h4 class="g-font-size-18--xs g-color--white g-margin-b-5--xs">Call at</h4>
                    <p class="g-color--white-opacity">+ (91) 8748867709</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feedback Form -->
<div id="quote-div">
    <%= render "quote" %>
</div>

        <!--========== END PAGE CONTENT ==========-->